<div class="case-editor" [class.chatFullscreen]="chatFullScreen">
  <form #staffForm="ngForm" (ngSubmit)="save()" style="height: 100%">
    <div class="grid">
      <div class="card profile" [class.hide]="chatFullScreen">
        <div class="card-title">
          <div class="left-side">
            <a routerLink="/cases"><i class="material-icons">chevron_left</i> BACK</a>
          </div>
          <div class="right-side">
            <h5>CASE ID</h5>
            {{case.id}}
          </div>
        </div>
        <div class="card-content">
          <div class="row">
            <div class="col s9">
              <div class="name">
                <h1 style="margin-top: 0">{{judgementee?.displayName}}</h1>
              </div>
              <div class="rank"><span class="marked">{{judgementeeRank?.name}}</span></div>
              <div class="uuid-label">
                <h5>UUID</h5>
              </div>
              <div class="uuid">{{judgementee?.uuid}}</div>
            </div>
            <div class="col s3 avatar-column">
              <img src="https://crafatar.com/avatars/{{judgementee?.uuid}}?overlay" />
              <span class="marked">{{otherCasesCount}} CASES</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card stats" [class.hide]="chatFullScreen">
        <div class="card-content">
          <div class="stats">
            <div class="stat">
                <label>Created By</label>
                <div class="value">{{creator?.displayName}}</div>
            </div>
            <div class="divider"></div>
            <div class="stat">
              <label>Status</label>
              <div class="value"><span class="marked">{{status}}</span></div>
            </div>
            <div class="divider"></div>
            <div class="stat">
              <label>Created Date</label>
              <div class="value">{{timeConverter(case.created_at, 'Do MMM YYYY')}}</div>
            </div>
            <div class="divider"></div>
            <div class="stat">
              <label>Created Time</label>
              <div class="value">{{timeConverter(case.created_at, 'LT')}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="card chat" [class.fullscreen]="chatFullScreen">
        <div class="card-title light">
          <div class="left-side">
            Chat
          </div>
          <div class="right-side">
            <i style="cursor: pointer" (click)="toggleChatFullscreen($event)" class="material-icons">{{chatFullScreen ? 'fullscreen_exit' : 'fullscreen' }}</i>
          </div>
        </div>
        <div class="card-content">
          <chatbox [chatSession]="chatSession" [oldMessages]="judgementSession.logs" [fullscreen]="chatFullScreen"></chatbox>
        </div>
      </div>
      <div class="card caseinfo" [class.hide]="chatFullScreen">
        <div class="card-content">
            <div class="row">
              <div class="col s6">
                <label>Assignee</label>
                <staff-dropdown [(ngModel)]="case.assignee_id" name="case.assignee_id" required="true" [disabled]="case.closed_at > 0"></staff-dropdown>
              </div>

              <div class="col s6">
                <label>Outcome</label>
                <dropdown [(ngModel)]="case.outcome" name="case.outcome" required="true" [options]="outcomes" [disabled]="case.closed_at > 0"></dropdown>
              </div>
            </div>

            <ng-container *ngIf="showDuration">
              <div class="input-field time">
                <input type="number" [(ngModel)]="outcometime" id="outcometime" name="outcometime" [readonly]="case.closed_at > 0">
                <label for="outcometime">Outcome Duration</label>
              </div>
              <div class="units">
                <dropdown [(ngModel)]="outcometimeunit" name="outcometimeunit" required="true" [options]="timeunits" [disabled]="case.closed_at > 0"></dropdown>
              </div>
            </ng-container>

            <div class="row">
              <div class="col s6">
                <check-box [(ngModel)]="case.pardoned" name="case.pardoned" label="Pardoned" validate [disabled]="case.closed_at > 0"></check-box>
              </div>
              <div class="col s6">
                <button type="submit" class="btn right" [disabled]="!staffForm.form.valid || case.closed_at > 0">{{saveButtonText}}</button>
                <has-permission permission="cases.reopen" *ngIf="case.closed_at > 0">
                  <button type="button" class="btn right" (click)="reopen($event)" [disabled]="case.closed_at === 0">Reopen</button>
                </has-permission>
              </div>
            </div>

            <!--Punishments:-->
            <!--<ul>-->
            <!--<li *ngFor="let punishment of case.punishments">{{getPunishment(punishment).offense}}</li>-->
            <!--</ul>-->

            <!--Reports:-->
            <!--<ul>-->
            <!--<li *ngFor="let report of case.reports">{{getReport(report)}}</li>-->
            <!--</ul>-->
            <!--<br>-->

        </div>
      </div>
      <div class="card description" [class.hide]="chatFullScreen">
        <div class="card-content">
          <textarea-box [(ngModel)]="case.description" name="case.description" label="Description" [readonly]="closed"></textarea-box>
        </div>
      </div>
      <div class="card history" [class.hide]="chatFullScreen">
        <div class="card-title">
          <div class="left-side">
            CASE HISTORY
          </div>
          <div class="right-side">
          </div>
        </div>
        <div class="card-content">
          <case-table [cases]="otherCases"></case-table>
        </div>
      </div>
    </div>
  </form>
</div>
