<div class="adverts">
  <div class="card">
    <div class="card-title">
      <div class="left-side">
        <h5>Adverts</h5>
      </div>
      <div class="right-side row">
        <div>
          <a routerLink="/adverts/new"><i class="material-icons">add</i></a>
        </div>
      </div>
    </div>
    <div class="card-content">
      <table>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Frequency</th>
          <th></th>
        </tr>
        <ng-container *ngIf="loading.isLoading()">
          <tr>
            <td colspan="4">
              <loading></loading>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="loading.hasSucceeded()">
          <ng-container *ngIf="rows.length > 0">
            <tr *ngFor="let row of rows" routerLink="/adverts/{{row.advert.id}}/edit">
              <td>{{row.advert.name}}</td>
              <td>{{row.advert.type}}</td>
              <td>{{row.advert.frequency}}</td>
              <td class="actions">
                <has-permission permission="adverts.delete">
                  <i (click)="delete($event, row.id)" title="Delete" class="material-icons">delete</i>
                </has-permission>
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="rows.length <= 0">
            <tr>
              <td colspan="4">Sorry but we can't find any staff members</td>
            </tr>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="loading.hasFailed()">
          <tr>
            <td colspan="4">I'm sorry but something has gone wrong</td>
          </tr>
        </ng-container>
      </table>
    </div>
  </div>
</div>
