<div class="games">
  <div class="card">
    <div class="card-title">
      <div class="left-side">
        <h5>Games</h5>
      </div>
      <div class="right-side row">
        <div>
          <a routerLink="/games/new">
            <i class="material-icons">add</i>
          </a>
        </div>
      </div>
    </div>
    <div class="card-content">
      <table>
        <tr>
          <th>Icon</th>
          <th>Name</th>
          <th>Description</th>
          <th>Live</th>
          <th>Active</th>
          <th>Beta</th>
          <th></th>
        </tr>
        <tr *ngFor="let row of rows" routerLink="/games/{{row.game.id}}/edit">
          <td>
            {{row.game.iconMap}}
          </td>
          <td>
            {{row.game.name}}
          </td>
          <td>
            {{row.game.description}}
          </td>
          <td>
            <check-box [(ngModel)]="row.game.isLive" name="row.game.isLive"></check-box>
          </td>
          <td>
            <check-box [(ngModel)]="row.game.isActive" name="row.game.isActive"></check-box>
          </td>
          <td>
            <check-box [(ngModel)]="row.game.isBeta" name="row.game.isBeta"></check-box>
          </td>
          <td class="actions">
            <has-permission permission="games.delete">
              <i (click)="delete($event, row.id)" title="Delete" class="material-icons">delete</i>
            </has-permission>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
