<div class="staff">
  <div class="card">
    <div class="card-title">
      <div class="left-side">
        <h5>Staff</h5>
      </div>
      <div class="right-side row">
        <div>
          <check-box [(ngModel)]="showInActive" name="showInActive" label="Show disabled staff" (Change)="toggle"></check-box>
        </div>
        <div>
          <div class="input-field">
            <i class="material-icons prefix" (click)="search()">search</i>
            <input placeholder="Search" [(ngModel)]="searchQuery" id="search" (keyup.enter)="search()">
            <label for="search"></label>
          </div>
        </div>
        <div>
          <a routerLink="/staff/new"><i class="material-icons">add</i></a>
        </div>
      </div>
    </div>
    <div class="card-content">
      <table>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Player Name</th>
          <th>Rank</th>
          <th>Role</th>
          <th>Active</th>
        </tr>
        <ng-container *ngIf="loading.isLoading()">
          <tr>
            <td colspan="4">
              <loading></loading>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="loading.hasSucceeded()">
          <ng-container *ngIf="rows.length > 0">
            <tr *ngFor="let row of rows" routerLink="/staff/{{row.staff.id}}/edit">
              <td>{{row.staff.givenNames + " " + row.staff.familyName}}</td>
              <td>{{row.staff.email}}</td>
              <td>{{row.player?.displayName}}</td>
              <td>{{row.rank?.name}}</td>
              <td>{{row.role?.name}}</td>
              <td>
                <check-box [(ngModel)]="row.staff.isActive" name="row.staff.isActive"></check-box>
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="rows.length <= 0">
            <tr>
              <td colspan="4">Sorry but we can't find any staff members</td>
            </tr>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="loading.hasFailed()">
          <tr>
            <td colspan="4">I'm sorry but something has gone wrong</td>
          </tr>
        </ng-container>
      </table>
      <pagination [totalCount]="total" [pageNumber]="pageNumber" (pageChanged)="pageChanged($event)"></pagination>
    </div>
  </div>
</div>
