nav.sub {
  background-color: #1f1f1f;
  position: fixed;
  box-shadow: none!important;
  z-index: 90;

  .marked {
    background-color: white;
    color: #FFC60F;
  }

  ul a {
    font-size: 21px;

    .image {
      max-height: 40px;
      transform: translateY(11px);
    }
  }

  .brand-logo {
    position: unset;
    padding: 0 .7em;
    font-size: 21px;
  }

  .dropdown-content {
    top: 64px !important;
    width: 250px!important;
  }

  .dropdown-content li>a{
    color: black!important;
    width: 250px!important;
  }

  button {
    background-color: transparent;
    color: white;
    height: 64px;
    width: 64px;
    border: none;
  }

  button:hover {
    background-color: #272727;
  }
}
