<div class="reset-password">
  <h1>Password reset</h1>
  <div class="card">
    <div class="card-content">
      <div class="row">
        <form #passwordForm="ngForm" (ngSubmit)="reset()">
          <div class="input-field">
            <input type="email" [(ngModel)]="model.email" id="model.email" name="model.email" class="validate" required/>
            <label for="model.email">Email</label>
          </div>

          <div class="input-field">
            <input type="password" [(ngModel)]="model.oldPassword" id="model.oldPassword" name="model.oldPassword" class="validate" required/>
            <label for="model.oldPassword">Old Password</label>
          </div>

          <div class="input-field">
            <input type="password" [(ngModel)]="model.newPassword" id="model.newPassword" name="model.newPassword" class="validate" required/>
            <label for="model.newPassword">New Password</label>
          </div>

          <button type="submit" class="btn btn-success right" [disabled]="!passwordForm.form.valid">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>
