nav.main {
  min-width: 100vw;
  overflow-y: auto;
  position: fixed;
  background-color: #DFDFDF;
  margin-top: 64px;
  box-shadow: none!important;

  .top > li a {
    padding: .5em 1em;
    width: 100%;
    display: inline-flex;
    color: #7A7A7A;
    text-transform: uppercase;
    font-weight: 500;

    .label {
      user-select: none;
      line-height: 54px;
    }
  }

  .children > li {
    line-height: 1em !important;

    a {
      padding: 0em 1em;
      //text-decoration: underline;
      //font-weight: 700;
      font-size: .75em;


      span {
        line-height: 64px!important;
      }

      i {
        height: 0;
      }
    }
  }

  ul > li > a > span .label {
    margin-left: 0!important;
    padding: 0!important;
    position: relative!important;
    top: 50%;
    transform: translateY(-50%);
    line-height: 64px!important;
  }

  ul li a {
    height: 64px;
  }
}
