.case-editor {
  &.chatFullscreen {
    height: calc(100vh - 6em);
  }

  .grid {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-gap: 1em;

    > .card {
      margin: 0;
    }

    > .profile {
      grid-area: 1 / 1 / 4 / 9;
    }

    > .stats {
      grid-area: 4 / 1 / 5 / 9;
    }

    > .chat {
      grid-area: 1 / 9 / 5 / last;

      .card-content {
        height: calc(100% - 70px);
      }

      &.fullscreen {
        grid-area: 1 / 1 / last / last;
      }
    }

    > .caseinfo {
      grid-area: 5 / 1 / 7 / 9;
    }

    > .description {
      grid-area: 5 / 9 / 7 / last;
    }

    > .history {
      grid-area: 7 / 1 / auto / last;
    }
  }

 .time, .units {
   width:49.8%;
   display: inline-block;
   align-items: center;
 }

  .stats {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }

  .divider {
    border: 1px solid #9a9a9a;
    height: 2em;
    align-self: center;
  }

  .avatar-column {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      padding-bottom: 1em;
    }
  }
}
